#carousel {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #101010;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background 1s ease-in-out;
  transition-delay: .3s
}

#navCarousel {
  position: fixed;
  bottom: 30px;
  left: 30px;
  border: 2px dotted #FFF;
  @media (max-width: 360px) {
    left: 10px;
  }
  div {
    padding: 2px;
    float: left;
    border-right: 2px dotted #FFF;
    @media (max-width: 440px) {
      padding: 0px;
    }
    &:last-of-type {
      border-right: 0;
    }
    span {
      cursor: pointer;
      @extend %font-p-xs;
      height: 14px;
      width: 18px;
      line-height: 14px;
      color: #fcfcfc;
      display: block;
      float: left;
      margin: 0;
      text-align: center;
      min-height: 1px;
      &.active {
        background-color: $color-white;
      }
      &:hover {
        color: #9f9e9e;
      }
    }
  }
}

#controls {
  .next,
  .back {
    position: absolute;
    top: calc(42% - 40px);
    cursor: pointer;
    padding: 30px;
    @media (max-width: 360px) {
      padding: 10px;
    }
    &:hover {
      transition: transform .5s;
      polyline {
        stroke: #929292;
      }
    }
  }
  .next {
    right: 3px;
    &:hover {
      transform: translate(3px, 0);
    }
  }
  .back {
    left: 3px;
    &:hover {
      transform: translate(-3px, 0);
    }
  }
}

#logo {
  position: fixed;
  right: 30px;
  bottom: 30px;
  @media (max-width: 440px) {
    width: 80px;
  }
  @media (max-width: 360px) {
    right: 10px;
  }
}

#content>div {
  opacity: 0;
  transition: opacity .5s;
  pointer-events: none;
  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

#content {
  h1 {
    @extend %font-h1-lg;
  }
  p {
    @extend %font-p-xs;
    color: $color-white;
    position: absolute;
    text-shadow: 1px 1px black;
    bottom: 31px;
    left: 300px;
    @media (max-width: 992px) {
      width: 55%;
      bottom: 80px;
      left: 30px;
    }
    @media (max-width: 360px) {
      left: 10px;
    }
  }
  a {
    @extend %font-p-xs;
    color: $color-white;
  }
  #slider-1 {
    h1 {
      top: -20px;
      left: 30px;
    }
    p {
      bottom: 110px;
      left: 30px;
    }
    @media (max-width: 360px) {
      h1,
      p {
        left: 10px;
      }
    }
  }
  #slider-2 {
    h1 {
      top: 34%;
      left: 90px;
      @media (max-width: 360px) {
        left: 60px;
      }
    }
  }
  #slider-3 {
    h1 {
      top: 34%;
      left: 90px;
      @media (max-width: 360px) {
        left: 60px;
      }
    }
  }
  #slider-4 {
    h1 {
      top: 34%;
      right: 90px;
      @media (max-width: 360px) {
        right: 60px;
      }
      span {
        float: right;
      }
    }
  }
  #slider-5 {
    h1 {
      top: 34%;
      right: 90px;
      @media (max-width: 360px) {
        right: 60px;
      }
      span {
        float: right;
      }
    }
  }
  #slider-6 {
    h1 {
      top: 29%;
      right: 90px;
      @media (max-width: 360px) {
        right: 60px;
      }
      span {
        float: right;
      }
    }
  }
  #slider-7 {
    h1 {
      top: 34%;
      left: 90px;
      @media (max-width: 360px) {
        left: 60px;
      }
    }
  }
  #slider-8 {
    h1 {
      top: 34%;
      left: 90px;
      @media (max-width: 360px) {
        left: 60px;
      }
    }
  }
  #slider-9 {
    h1 {
      top: 34%;
      left: 90px;
      @media (max-width: 360px) {
        left: 60px;
      }
    }
  }
  #slider-10 {
    h1 {
      top: -20px;
      right: 30px;
      @media (max-width: 360px) {
        right: 10px;
      }
    }
    img {
      width: 18px;
    }
    p {
      top: 40.4%;
      right: 30px;
      text-align: right;
      bottom: inherit;
      left: inherit;
      @media (max-width: 360px) {
        right: 10px;
      }
    }
    .mail {
      width: 19px;
      padding-bottom: 2px;
      margin-right: 5px;
    }
    .facebook {
      width: 15px;
      padding-bottom: 2px;
      margin-left: 25px;
    }
    .twitter {
      width: 13px;
      padding-bottom: 4px;
      margin-left: 25px;
    }
    .icons {
      margin-top: 35px;
      position: relative;
      display: inline-block;
      text-decoration: none;
      margin-left: 17px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}