#preload-container {
  height: 100%;
  display: table;
  width: 100%;
  background-color: #101010;
  background-image: url(../image/loaderbg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 39%;
}

#preload {
  display: table-cell;
  vertical-align: middle;
  img#img-monk {
    margin: auto;
  }
  img.monk-start {
    animation-duration: .3s;
    animation-name: monkStart;
    animation-timing-function: ease-in-out;
    transform-origin: 50% 80%;
  }
  img.movie-monk {
    animation-duration: .9s;
    animation-name: movieMonk;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }
  #containerText {
    width: 360px;
    margin: auto;
    display: table;
    .mascara {
      display: block;
      overflow: hidden;
      width: 140px;
    }
    p {
      color: $color-white;
      font-weight: 300;
      font-style: italic;
      float: left;
      transform: translate(0, 0);
    }
    p#patienceSpan {
      white-space: nowrap;
    }
    p#patience {
      margin-left: 142px;
      &.patience-animation-first-part {
        margin-left: 142px;
        animation-fill-mode: both;
        animation-duration: .75s;
        animation-name: bounceIn;
      }
      &.patience-animation-second-part {
        animation-duration: .15s;
        animation-name: patienceSecondPart;
        animation-fill-mode: both;
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      }
      &.patience-animation-third-part {
        margin-left: 86px;
      }
    }
    &.patience-animation-four-part {
      animation-duration: 1s;
      animation-name: fadeOutDown;
      animation-timing-function: ease-in-out;
      p#patience {
        margin-left: 86px;
      }
        #patienceSpan {
          transform: translate(5px, 0px);
        }
    }
    .patience-span-animation-third-part {
      animation-duration: .2s;
      animation-name: patienceSpanThirdPart;
      animation-fill-mode: both;
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
  }
  img.bg-loader {
    margin: auto;
    position: absolute;
    left: 50%;
    margin-left: -630px;
    top: 50%;
    margin-top: -382.5px;
  }
  #monk-shadow {
    clear: both;
    margin: auto;
    padding-left: 11px;
  }
  &.monk-shadow-start svg {
    animation-duration: .3s;
    animation-name: monkStart;
    animation-timing-function: ease-in-out;
    transform-origin: 50% 80%;
  }
  &.monk-shadow svg {
    transform-origin: 50% 50%;
    animation-duration: .9s;
    animation-name: monkShadow;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }
  #preloadCounter {
    color: #fff;
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
}