html,
body {
  height: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-responsive-svg {
  display: block;
  max-width: 100%;
  height: initial;
}

.hidden {
  display: none!important;
}

.show {
  display: block;
}