<div id="carousel" class="hidden" style="background-position: 0% center;">
  <div id="navCarousel">
  </div>

  <div id="controls">
    <span id='controlBack' class="back" onclick="backMoveBackgroundImage()" style="display:none;">
      <svg version="1.1" class="img-responsive-svg"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
        x="0px" y="0px" width="25.952px" height="49.078px" viewBox="0 0 25.952 49.078" enable-background="new 0 0 25.952 49.078"
        xml:space="preserve" preserveAspectRatio="xMinYMin">
      <polyline fill="none" stroke="#FFFFFF" stroke-width="2.5" stroke-miterlimit="10" points="25.078,48.374 1.412,24.54 25.245,0.707 
        "/>
      </svg>
    </span>
    <span id='controlNext' class="next" onclick="nextMoveBackgroundImage()">
      <svg version="1.1" class="img-responsive-svg"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
        x="0px" y="0px" width="25.952px" height="49.078px" viewBox="0 0 25.952 49.078" enable-background="new 0 0 25.952 49.078"
        xml:space="preserve" preserveAspectRatio="xMinYMin">
        <polyline fill="none" stroke="#FFFFFF" stroke-width="2.5" stroke-miterlimit="10" points="0.874,0.705 24.54,24.538 0.707,48.371 "/>
      </svg>
    </span>
  </div>
  <a href="https://www.mediamonks.com/emerce/" target="_blank">
    @@include('../static/image/logo.svg')
  </a>

  <div id="content">
    <div id="slider-1">
      <h1>
        <span>
          WE ARE BREAKING<br/></span>
        <span>
          OUR VOW<br/>
        </span>
        <span>
          OF SILENCE
        </span>
      </h1>
      <p>
        In January 2011, after a decade of digital, we opened the doors to our temple.<br/> Follow our noble eightfold path
        to digital enlightenment here.
      </p>
    </div>
    <div id="slider-2">
      <h1>
        <span>
          TALENT IS GIVEN<br/></span>
        <span>
          TRUE SKILL IS<br/>
        </span>
        <span>
          EARNED
        </span>
      </h1>
      <p>
        Step 1 out of 8 on the path to digital enlightenment.
      </p>
    </div>
    <div id="slider-3">
      <h1>
        <span>
          BE FLEXIBLE TO<br/>
        </span>
        <span>
          CHANGE AND<br/>
        </span>
        <span>
          STURDY IN
        </span>
        <span>
          CONVICTION
        </span>
      </h1>
      <p>
        Step 2 out of 8 on the path to digital enlightenment.
      </p>
    </div>
    <div id="slider-4">
      <h1>
        <span>
          USE MANY SKiLLS<br/>
        </span>
        <span>
          YET WORK AS ONE<br/>
        </span>
      </h1>
      <p>
        Step 3 out of 8 on the path to digital enlightenment.
      </p>
    </div>
    <div id="slider-5">
      <h1>
        <span>
          TO MASTER<br/>
        </span>
        <span>
          ANYTHING FIND<br/>
        </span>
        <span>
          INTEREST IN<br/>
        </span>
        <span>
          EVERYTHING<br/>
        </span>
      </h1>
      <p>
        Step 4 out of 8 on the path to digital enlightenment.
      </p>
    </div>
    <div id="slider-6">
      <h1>
        <span>
          INDIVIDUALS<br/>
        </span>
        <span>
          FLOURISH<br/>
        </span>
        <span>
          IF CULTURE<br/>
        </span>
        <span>
          AND WISDOM<br/>
        </span>
        <span>
          ARE SHARED<br/>
        </span>
      </h1>
      <p>
        Step 5 out of 8 on the path to digital enlightenment.
      </p>
    </div>
    <div id="slider-7">
      <h1>
        <span>
          TRAIN FOR<br/>
        </span>
        <span>
          PERFECTION BUT<br/>
        </span>
        <span>
          AIM FOR MORE<br/>
        </span>
      </h1>
      <p>
        Step 6 out of 8 on the path to digital enlightenment.
      </p>
    </div>
    <div id="slider-8">
      <h1>
        <span>
          TAKE PRIDE IN YOUR<br/>
        </span>
        <span>
          WORK BUT DO NOT<br/>
        </span>
        <span>
          SEEK PRAISE<br/>
        </span>
      </h1>
      <p>
        Step 7 out of 8 on the path to digital enlightenment.
      </p>
    </div>
    <div id="slider-9">
      <h1>
        <span>
          TEMPORARY<br/>
        </span>
        <span>
          SACRIFICE BRINGS<br/>
        </span>
        <span>
          LASTING RESULTS<br/>
        </span>
      </h1>
      <p>
        Step 8 out of 8 on the path to digital enlightenment.
      </p>
    </div>
    <div id="slider-10">
      <h1>
        <span>
          BECOME A MONK<br/>
        </span>
      </h1>
      <p>Interested in jouning our monastery?<br/> Check out our current openings on <a href="https://www.mediamonks.com/careers">mediamonks.com/careers</a>.<br/>
      <a class="icons" href="mailto:wesley@mediamonks.com" target="_blank"><img class="mail" src="image/svg/mail.svg" > Mail ons</a>
      <a class="icons" href="https://www.facebook.com/mediamonks" target="_blank"><img class="facebook" src="image/svg/facebook.svg" > Facebook</a>
      <a class="icons" href="https://twitter.com/mediamonks" target="_blank"><img class="twitter" src="image/svg/twitter.svg" > Twitter</a>
      </p>
    </div>
  </div>
</div>