<div id="preload-container" class="is-preload-loading">
    <div id="preload" class="monk-shadow-start">
        <img id="img-monk" class="img-responsive monk-start" src="image/monk.png" alt="monk">
        <svg id="monk-shadow" class="img-responsive-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="61px" height="23.833px" viewBox="0 0 61 23.833"
            enable-background="new 0 0 61 23.833" xml:space="preserve" preserveAspectRatio="xMinYMin">
            <ellipse fill="#101010" cx="30.5" cy="11.917" rx="30.5" ry="11.917" />
        </svg>
        <div id="containerText">
            <p id="patience">Patience!</p>
            <div class="mascara">
                <p id="patienceSpan"></p>
            </div>
        </div>
        <div id="preloadCounter">0%</div>
    </div>
</div>