%infinite {
  animation-iteration-count: infinite;
}

@keyframes monkStart {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}

@keyframes movieMonk {
  0% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, -30px)
  }
}

@keyframes monkShadow {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(.8);
  }
}


@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(.97, .97, .97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes patienceSecondPart {
  0% {
    margin-left: 132px;
  }
  to {
    margin-left: 86px;
  }
}

@keyframes patienceSpanThirdPart {
  0% {
    transform: translate(-150px, 0px);
  }
  to {
    transform: translate(5px, 0px);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate(0, 10px);
  }
}