@font-face {
	font-family: 'Geogrotesque';
	src: url('../font/klavika/klavika-bold-webfont.eot');
	src: url('../font/klavika/klavika-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../font/klavika/klavika-bold-webfont.woff') format('woff'),
		url('../font/klavika/klavika-bold-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'Geogrotesque';
	src: url('../font/klavika/klavika-medium-webfont.eot');
	src: url('../font/klavika/klavika-medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('../font/klavika/klavika-medium-webfont.woff') format('woff'),
		url('../font/klavika/klavika-medium-webfont.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Geogrotesque';
	src: url('../font/klavika/klavika-regular-webfont.eot');
	src: url('../font/klavika/klavika-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../font/klavika/klavika-regular-webfont.woff') format('woff'),
		url('../font/klavika/klavika-regular-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Geogrotesque';
	src: url('../font/klavika/klavika-light-webfont.eot');
	src: url('../font/klavika/klavika-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../font/klavika/klavika-light-webfont.woff') format('woff'),
		url('../font/klavika/klavika-light-webfont.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
