%font-family {
    font-family: 'Geogrotesque', sans-serif;
}

%font-p-xs {
    font-size: 14px;
    font-weight: 400;
    @extend %font-family;
    margin: 7px 0 0 0;
}

%font-p-md {
    font-size: 19px;
    font-weight: 500;
    @extend %font-family;
}

%font-h3 {
    font-size: 24px;
    font-weight: 600;
    @extend %font-family;
    margin: 10px 0;
    line-height: 30px;
}

%font-h2 {
    font-size: 29px;
    font-weight: 600;
    @extend %font-family;
    margin: 10px 0;
}

%font-h1-md {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    @extend %font-family;
    margin: 10px 0;
}

%font-h1-lg {
    position: fixed;
    font-size: 64px;
    font-weight: 400;
    color: #fff;
    line-height: 70px;
    letter-spacing: -1px;
    span {
        border-bottom: solid #fff 1px;
        line-height: 50px;
        display: block;
        float: left;
        clear: both;
        margin-bottom: 18px;
        @extend %font-family;
        margin: 10px 0;
    }
}

@media (max-width: 992px) {
    %font-h1-lg {
        font-size: 30px;
        span {
            line-height: 30px;
            margin: 7px 0;
        }
    }
    %font-h2 {
        font-size: 22px;
        margin: 10px 0;
    }
    %font-h3 {
        font-size: 20px;
        margin: 10px 0;
    }
    %font-p-md {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    %font-h1-lg {
        font-size: 23px;
        span {
            line-height: 23px;
            margin: 7px 0;
        }
    }
    %font-h2 {
        font-size: 16px;
        margin: 10px 0;
    }
    %font-h2 {
        font-size: 14px;
        margin: 10px 0;
    }
    %font-p-xs {
        font-size: 13px;
        margin: 10px 0;
    }
    %font-p-md {
        font-size: 13px;
    }
}


h1 {
    @extend %font-h1-md;
}

h2 {
    @extend %font-h2;
}

h3 {
    @extend %font-h3;
}

p {
    @extend %font-p-md;
}

text {
    @extend %font-family;
}